html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}


/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0;
	padding: 0;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}


body {
		font: 11px Helvetica, Arial, sans-serif;
		/*background:#eaf1f1;*/
	/*background:#65ACF0;*/
	background: url("images/app/hex-pattern@0,25x-50.png") -50px -25px #65ACF0;;
	line-height: 1.25;
	/*overflow:hidden;
	height:100%;*/
}

div {
	margin: 0 auto;
}
div.main{
	margin: 0;
	padding: 0;
	max-width: 100%;
	width:100%;
	height: 100%;
	background: no-repeat url("images/app/gradient-white@0.5x.png") top -560px right 75%;

/*background:url("images/app/hex pattern@0,25x-50.png");*/
}
div.stars {
	position: relative;
	margin: 0;
	padding: 0;
	max-width: 100%;
	width:100%;
	height: 100%;
	/*background: no-repeat url("images/app/app_starburst.png") top -1142px right 60%;*/
}

div#burst {
	position: absolute;

}

h1 {
	font-family: "oxygen";
	font-size: 2.4em;
	font-weight: 800;
	margin: 0 auto 1em;
	text-align: center;
	line-height: 1em;
	color: #0689BE;
	padding-right: 3em;
}
h2 {
	margin: 6px 0 10px;
	font-family: "dosis";
	font-weight: 600;
	font-size: 36px;
	font-style: italic;
}


p, .legalese a {
	font-family: Arial, sans-serif;
	font-size: 1.4em;
	line-height: 1.5em;
	padding: 0 2em;
	text-align: left;
	color: white;
	font-weight: normal;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4), 0px -1px 3px rgba(0,0,0, 0.2) ;
	letter-spacing: 0.3pt;
	margin: 1em 3em;
}

span.app-download p {
	text-align: center;
	font-weight: 800;
	font-size: 1.8em;
	margin: 1.5em auto .5em;
	/*width: 100%;*/
}

p.copyright, .legalese a {
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
	padding: .4em 1em;
}
.legalese div {
	margin: 0 auto .2em;
	text-align: center;
}
a:link, a:visited {
	color: #fff;
}
a:hover, a:active {
	color: #DEDCEC;
}
.sponsors,  .app-about, .app-image, .app-screenshots, .app-stores, .legalese {
	max-width: 600px;
	position: relative;
	z-index: 100
}


.app-image {
}

.app-image img {
	width: 100%;
	margin-top: 2.5em;
}
.app-about {
	z-index: 100;
	padding: 0 10px;
}

.app-stores {
	z-index: 100;
	padding: 10px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.app-stores a {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0 auto;
		display: inline;
	}
.app-stores img {
		margin: 5px 10px;
	}


.app-screenshots {
	z-index: 100;
	padding: 0;
	margin: .5em auto 0;
	text-align: center;
}




.app-screenshots img {
	display: inline-block;
	width: 25%;
	margin: 2%;

}


.sponsors {
	z-index: 100;
	margin: 2em auto;
}

.sponsor-images {
	text-align: center;
	height: 50px;
}

.sponsor-images a {
	/*width: 25%;*/
	/*margin: 0 2%;*/
	text-decoration: none;
}

.sponsor-images a img {
	display: inline;
	/*width: 100%;*/
	margin: 5px 2%;
}

.sponsor-wide {
	width: 33%;
	display: inline;
}
.sponsor-wide a img {
	padding: 1% 0;
}
.sponsor-short {
	width: 20%;
	display: inline;
}

.sponsor-images a:first-child img {
		/*margin-left: 2em;*/
	}



.divider {
	margin: 1em ;
	height: 0;
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}



/*Spinning burst experiment*/


/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* basic structure for the rays setup */
#raysDemoHolder	{
	position: relative;
	width: 490px;
	height: 490px;
	margin: 100px 0 0 200px;
}
#raysLogo {
	width: 300px;
	height: 233px;
	text-indent: -3000px;
	background: url(logo.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
#rays	{ /* with animation properties */
	background: url(images/app/app_stargrad.png) 0 0 no-repeat;
	position: absolute;
	top: -1130px;
	left: -350px;
	width: 2500px;
	height: 2500px;
	z-index: -1;

	/* microsoft ie */
	animation-name: spin;
	animation-duration: 20000ms; /* 40 seconds */
	animation-iteration-count: 3;
	animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	/*clip-path: circle(1000px at center);*/
	-webkit-mask-image: radial-gradient(2000px at center, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 4%, rgba(0, 0, 0, 0) 80%)
}
