html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}


/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0;
	padding: 0;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.75em;
}


body {
	font: 11px Helvetica, Arial, sans-serif;
	background: url("images/hex-pattern@0,25x-50.png") -50px -25px #65ACF0;;
	line-height: 1.25;
}

div {
	margin: 0 auto;
}
div.main{
	margin: 0;
	padding: 0;
	max-width: 100%;
	width:100%;
	height: 100%;
	overflow-x: hidden;

}
div.stars {
	position: relative;
	margin: 0;
	padding: 0;
	max-width: 100%;
	width:100%;
	height: 100%;
}

div#burst {
	position: absolute;

}

h1 {
	font-family: "oxygen";
	font-size: 2.4em;
	font-weight: 800;
	margin: 0 auto 1em;
	text-align: center;
	line-height: 1em;
	color: #0689BE;
	padding-right: 3em;
}
h2 {
	margin: 6px 0 10px;
	font-family: "dosis";
	font-weight: 600;
	font-size: 36px;
	font-style: italic;
}


p, .legalese a {
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0 0;
	text-align: left;
	font-weight: normal;
	letter-spacing: 0.3pt;
	margin: 1em 1em;

	color: rgb(0, 54, 102);
  	text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}

@media (min-width: 400px) {
	p, .legalese a {
		padding: 0 0.75em;
		margin: 1em 2em;
		font-size: 1.25em;

	}
}
@media (min-width: 650px) {
	p, .legalese a {
		padding: 0 1.75em;
		margin: 1em 3em;
		font-size: 1.4em;

	}
}

span.app-download p {
	text-align: center;
	font-weight: 800;
	font-size: 1.8em;
	margin: 1.5em auto .5em;
}

p.copyright, .legalese a {
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
	padding: .4em 1em;
}
.legalese div {
	margin: 0 auto .2em;
	text-align: center;
}
a:link, a:visited {
	color: rgb(0, 54, 102);

}
a:hover, a:active {
	color: #DEDCEC;
}
.sponsors,  .app-about, .app-image, .app-screenshots, .app-stores, .legalese {
	max-width: 600px;
	position: relative;
	z-index: 100;
}


.app-image {
	z-index: 100;
}

.app-image img {
	width: 100%;
	margin: 2.5em auto 0;
	z-index: 100;
}

@media (min-width: 768px) {
	.app-image img {
		width: 100%;
	}
}


.app-about {
	z-index: 100;
	padding: 0 10px;
}

.app-stores {
	z-index: 100;
	padding: 10px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.app-stores a {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0 auto;
		display: inline;
	}
.app-stores img {
		margin: 5px 10px;
	}


.app-screenshots {
	z-index: 100;
	padding: 0;
	margin: .5em auto 0;
	text-align: center;
}




.app-screenshots img {
	display: inline-block;
	width: 25%;
	margin: 2%;

}


.sponsors {
	z-index: 100;
	margin: 2em auto;
}

.sponsor-images {
	text-align: center;
	margin-top: 2.5em;
}

.sponsor-images a {
	text-decoration: none;
}

.sponsor-images div {
	display: initial;
	margin: 0 10px;
}

.sponsor-images a img {
	display: inline-block;
}

.sponsor-wide {
}

.sponsor-wide a img {
	max-height: 60px;
	min-width: 110px;
	max-width: 187px;
	vertical-align: middle;

}
.sponsor-short {
	width: 20%;
	display: inline;
}
.sponsor-short a img {
	max-height: 70px;
	vertical-align: middle;
}


.divider {
	margin: 1em ;
	height: 0;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}



/*Spinning burst experiment*/


/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}



.app-image img.bursting {
	position: absolute;
	z-index: -1;
  top: -220%;
  right: -131%;
  width: 300%;
  height: 478%;
}


img#starback {
	-webkit-mask-image: radial-gradient(780px at center, rgb(0, 0, 0) 0%, rgba(0, 0, 0,0.5) 75%, rgba(0, 0, 0, 0) 95%);
	}

#starback {
	animation-name: spin;
	animation-duration: 45000ms; /* 45 seconds */
	animation-iteration-count: infinite;
	/*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);*/
	animation-timing-function: linear;

}

@media (min-width: 600px) {
	.app-image img.bursting {
		top: -1125px;
	  right: -1094px;
	  width: 2400px;
	  height: 2400px;
	}
	img#starback {
		-webkit-mask-image: radial-gradient(2000px at center, rgb(0, 0, 0) 0%, rgba(0, 0, 0,0.2) 77%, rgba(0, 0, 0, 0) 80%)
	}
}

img#gradback {

}
img#comboback {

}

#my-video {
	border: 1px solid black;
	box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.2);
}
